#userAccount {
  .containner {
    padding: 0.5rem;

    .infoUser {
      display: flex;
      align-items: center;

      padding: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid;

      div {
        display: inline-block;
        box-sizing: border-box;
        padding-right: 2rem;
        border-right: 1px solid;
      }

      aside {
        padding-left: 2rem;
        text-decoration: none;

        cursor: pointer;

        a {
          color: black;
        }
      }
    }

    .cardList {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      .card {
        width: 3rem;
        height: 5rem;
      }
    }
    
    .cards {
      display: flex;
      align-items: center;
      padding: .2rem;

      gap: 1rem;

      .card {
        margin-left: 2%;
      }

      .plusIcon {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2rem;

        border: 1px solid #000;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 1px #000;
      }

      .plusIcon:hover {
        transition: 0.3s ease-in-out;
        cursor: pointer;

        border: 1px solid #bbb;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 1px #bbb;
      }
    }
  }
}
