@import "../../App.scss";


.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $background-color-light;
  color: $color-light;

  width: 100%;
  height: 100vh;
}

.loadingDark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color-dark;
  color: $color-dark;

  width: 100%;
  height: 100vh;
}

#userAccount {
  box-sizing: border-box;
  background-color: $background-color-light;
  min-height: 110vh;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;


  .containner {
    padding: 0.5rem;

    .infoUser {
      display: flex;
      align-items: center;

      padding: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $border-light;

      div {
        display: inline-block;
        box-sizing: border-box;
        padding-right: 2rem;
        border-right: 1px solid $border-light;
      }

      aside {
        padding-left: 2rem;
        text-decoration: none;

        cursor: pointer;

        a {
          color: $color-light;
        }
      }
    }

    .cards {
      display: flex;
      align-items: flex-start;
      padding: 0.5rem;

      gap: 1rem;

      .cardList {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        gap: 2rem;
      }

      .card {
        margin-left: 2%;
      }

      .plusIcon {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2rem;

        border: 1px solid $border-light;
        color: $link_light;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 1px $shadow-color-light;
      }

      .plusIcon:hover {
        transition: 0.3s ease-in-out;
        cursor: pointer;

        border: 1px solid $border-light;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 1px $shadow-color-light;
      }
    }
  }
}

#userAccountDark {
  box-sizing: border-box;
  background-color: $background-color-dark;
  min-height: 110vh;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  color: $color-dark;

  .containner {
    padding: 0.5rem;

    .infoUser {
      display: flex;
      align-items: center;

      padding: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $border-dark;

      div {
        display: inline-block;
        box-sizing: border-box;
        padding-right: 2rem;
        border-right: 1px solid $border-dark;
      }

      aside {
        padding-left: 2rem;
        text-decoration: none;

        cursor: pointer;

        a {
          color: $color-dark;
        }
      }
    }

    .cards {
      display: flex;
      align-items: flex-start;
      padding: 0.5rem;

      background-color: transparent;
      height: 100%;
      width: 100vw;

      gap: 1rem;

      .cardList {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        gap: 2rem;
      }

      .card {
        margin-left: 2%;
      }

      .plusIcon {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2rem;

        border: 1px solid $border-dark;
        color: $link_dark;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px $shadow-color-dark;
      }

      .plusIcon:hover {
        transition: 0.3s ease-in-out;
        cursor: pointer;

        border: 1px solid $border-dark;
        color: $link_dark_hover;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 1px $shadow-color-dark;
      }
    }
  }
}