#login {
    .content {
      display: flex;
      align-items: center;
      padding: 1rem 2rem 0 2rem;
      gap: 10rem;
  
      img {
          height: 80vh;
          border-radius: 25px;
      }
    }
  }
  