@import "../../App.scss";

#showPoem {
  background-color: $background-color-light;
  color: $color-light;

  .containner {
    padding: 0.5rem;
  }

  .infoPoem {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-light;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    input[type="text"] {
      font-size: xx-large;
      color: $title_light;
      background-color: transparent;

      outline: none;
      text-decoration: none;
    }

    .btnSubmit {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 100px;
      width: 3rem;
      height: 3rem;

      box-sizing: border-box;

      transition: 0.2s ease-in-out;
      background-color: $link_light;

      &:hover {
        cursor: pointer;

        background-color: $link_light_hover;
      }

      &:active {
        width: 2rem;
        height: 2rem;

        margin-right: 2rem;
      }
    }
  }

  .containnerForm {
    width: 100%;
    box-sizing: border-box;
    min-height: 60vh;


    textarea {
      box-sizing: border-box;
      width: 100%;
      min-height: 90vh;
      padding: 2rem;
      outline: none;
      background-color: $background-color-light;
      color: $color-light;

      resize: none;
      text-decoration: none;
    }
  }
}

#showPoemDark {
  background-color: $background-color-dark;
  color: $color-dark;

  .containner {
    padding: 0.5rem;
    background-color: $background-color-dark;
  }

  .infoPoem {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-dark;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    input[type="text"] {
      font-size: xx-large;
      color: $title_dark;

      background-color: transparent;
      outline: none;
      text-decoration: none;
    }

    .btnSubmit {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 100px;
      width: 3rem;
      height: 3rem;

      box-sizing: border-box;

      transition: 0.2s ease-in-out;
      background-color: $link_dark;
      color: $color-dark;
      

      &:hover {
        cursor: pointer;

        background-color: $link_dark_hover;
      }

      &:active {
        width: 2rem;
        height: 2rem;

        margin-right: 2rem;
      }
    }
  }

  .containnerForm {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: $background-color-dark;
    min-height: 65vh;

    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 2rem;
      outline: none;
      background-color: transparent;
      color: $color-dark;

      resize: none;
      text-decoration: none;
    }
  }
}
