@import "../../App.scss";

#poems {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $background-color-dark;
  min-height: 100vh;
  height: 100%;

  .content {
    padding: 1rem;
    background-color: $background-color-light;
    min-height: 90vh;
  }

  .containnerPoem {
    &:hover {
      background-color: #000;
    }
  }
}

#poemsDark {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $background-color-dark;
  min-height: 100vh;
  height: 100%;

  .content {
    padding: 1rem;
    min-height: 90vh;
    background-color: $background-color-dark;
  }

  .containnerPoem {
    &:hover {
      background-color: #000;
    }
  }
}