@import "../App.scss";

#home {
  background-color: $background-color-light;

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#homeDark {
  background-color: $background-color-dark;

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
