#createPoem {
  .containner {
    padding: 0.5rem;
  }

  .infoPoem {
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 0.5rem;

    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #bbb;

    box-sizing: border-box;

    h1 {
      font-size: xx-large;
      color: red;
    }
  }

  .containnerForm {
    width: 100%;
    height: auto;
    box-sizing: border-box;

    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 2rem;
      outline: none;

      resize: none;
      text-decoration: none;
    }
  }
}
