@import "../../App.scss";

.containner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    .underline {
        text-decoration: underline;
    }

    section {
        display: flex;
        align-items: center;
        gap: 1rem;


         a {
            text-decoration: none;
            color: #000;

            transition: 0.3s ease-in-out;
        }

        a:hover {
            text-decoration: underline;
            color: #323232;
        }
    }

    section:hover {
        text-decoration: none;
    }


}

.toggleContainner {
    top: 50%;
    left: 2rem;
    position: sticky;
    display: inline-block;
    height: 80%;

    background-color: #fff;
    border-radius: 25px;
    padding: .2rem;
    
    z-index: 4;

    .underline {
        text-decoration: underline;
    }

    section {
         a {
            text-decoration: none;
            color: #000;

            transition: 0.3s ease-in-out;
        }

        a:hover {
            text-decoration: underline;
            color: #323232;
        }
    }

    section:hover {
        text-decoration: none;
    }

    .navlinks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: .4rem;
        margin-bottom: .8rem;
    }

    .iconsSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        gap: .4rem;
    }
}