@import "../../App.scss";

.sticky {
    position: sticky;
}

.containner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;

    
    top: 0.3rem;
    left: 0rem;
    padding: 1rem;
    z-index: 4;

    box-shadow: 5px 5px 5px 0 #000;

    .underline {
         color: #fff;
            background-color: #000;
            text-decoration: underline;
    }

    section {
        display: flex;
        align-items: center;
        gap: 1rem;


        a {
            text-decoration: none;
            color: #000;

            transition: all .6s ease-in-out;

            background-color: #fff;
            padding: .1rem;
            border-radius: 5px;
        }

        a:hover {
            color: #fff;
            background-color: #000;
        }
    }

    section:hover {
        text-decoration: none;
    }


}

.toggleContainner {
    top: 50%;
    left: 2rem;
    position: sticky;
    display: inline-block;
    height: 80%;

    background-color: #fff;
    border-radius: 25px;
    padding: .2rem;
    
    z-index: 4;

    .underline {
        text-decoration: underline;
    }

    section {
         a {
            text-decoration: none;
            color: #000;

            transition: 0.3s ease-in-out;
        }

        a:hover {
            text-decoration: underline;
            color: #323232;
        }
    }

    section:hover {
        text-decoration: none;
    }

    .navlinks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: .4rem;
        margin-bottom: .8rem;
    }

    .iconsSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        gap: .4rem;
    }
}