@import "../../App.scss";

#update {
  background-color: $background-color-light;
  color: $color-light;
  height: 100vh;
  .content {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 0 2rem;
    gap: 10rem;

    img {
      height: 80vh;
      border-radius: 25px;
    }
  }
}

#updateDark {
  background-color: $background-color-dark;
  color: $color-dark;
  height: 100vh;

  .content {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 0 2rem;
    gap: 10rem;

    img {
      height: 80vh;
      border-radius: 25px;
    }
  }
}

@media(max-width: 960px) {
  #update, #updateDark {
    .content {

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5rem;
      gap: 0rem;
      
      img{
        display: none;
      }
    }
  }
}
