$title_light: #D40505;
$link_light: #000;
$link_light_hover: #333;
$background-color-light: #fff;


#app {
    width: 100%;

    box-sizing: border-box;
    padding: 0.2rem;
}

img {
    width: 100%;
}

.none {
    display: none;
}

a {
    text-decoration: none;
    color: $link_light;
    transition: .5s ease-in-out;
}

a:hover {
    color: $link_light_hover;
}

.link_icons {
    
}