$link_dark: #000;
$link_dark_hover: #333;

#app {
    width: 100%;

    box-sizing: border-box;
    padding: 0.2rem;
}

img {
    width: 100%;
}

.none {
    display: none;
}

a {
    text-decoration: none;
    color: $link_dark;
    transition: .5s ease-in-out;
}

a:hover {
    color: #333;
    border-bottom: 1px solid;
}