/* https://colorhunt.co/palette/040d12183d3d5c837493b1a6 */

$layout_large: 960px;
$layout_medium: 810px;
$layout_small: 576px;


$title_light: #CD8D7A;
$link_light: #708871;
$link_light_hover: #BEC6A0;
$background-color-light: #FEF3E2;
$color-light: #040D12;
$shadow-color-light: #C3E2C2;
$border-light: #606676;
$button-hover: #BEC6A0;

$title_dark: #183d3d;
$link_dark: #5C8374;
$link_dark_hover: #93B1A6;
$background-color-dark: #040D12;
$color-dark: #93B1A6;
$shadow-color-dark: #183D3D;
$border-dark: #bbb;

* {
    padding: 0;
    margin: 0;
    transition: all .5s ease-in-out;
    
}

#app {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

.none {
    display: none;
}

a {
    text-decoration: none;
    transition: .5s ease-in-out;
}