@import "../../App.scss";

#poemModel {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;

  border-bottom: 1px solid;
  cursor: pointer;

  transition: .1s ease-in-out;

  &:hover {
    background-color: $link_light_hover;

    a {
      color: $color-light;
    }
  }

  &:active {
    margin-left: 1rem;
  }

  h3 {
    font-weight: 100;

    margin-bottom: 1rem;
  }
}

#poemModelDark {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;

  border-bottom: 1px solid;
  cursor: pointer;

  transition: all .1s ease-in-out;
  a {
    color: $color-dark;
  }

  &:hover {
    background-color: $title_dark;
  }

  &:active {
    margin-left: 1rem;
  }

  h3 {
    font-weight: 100;

    margin-bottom: 1rem;
  }
}

