@import "../../App.scss";

#bodyheader {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;

  .nav p,
  .nav p span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: $link_light;
  }

  a:hover {
    color: $link-light-hover;
  }

  .headerassets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid $border-light;
      padding: 0.2rem;
      border-radius: 10px;

      input {
        background-color: transparent;
        outline: none;
        margin-left: 0.5rem;
      }

      .search {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .filterClick {
      cursor: pointer;
    }

    .filterOptions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      position: absolute;
      right: 1rem;
      top: 25%;

      border: 1px solid $border-light;
      border-radius: 25px;
      box-shadow: 5px 5px 10px 0 $shadow-color-light;
      padding: 1rem;
      gap: 1rem;
      background-color: $background-color-light;
    }
  }
}

#bodyheaderDark {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  color: $color-dark;

  .nav p,
  .nav p span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: $link_dark;
  }

  a:hover {
    color: $link-dark-hover;
  }

  .headerassets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid $border-dark;
      padding: 0.3rem 0.5rem 0.3rem 0.5rem;
      border-radius: 10px;

      input {
        background-color: transparent;
        outline: none;
        margin-left: 0.5rem;
      }

      .search {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .filterClick {
      cursor: pointer;
    }

    .filterOptions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      position: absolute;
      right: 1rem;
      top: 25%;

      border: 1px solid $border-dark;
      border-radius: 25px;
      box-shadow: 5px 5px 10px 0 $shadow-color-dark;
      padding: 1rem;
      gap: 1rem;
      background-color: $background-color-dark;
    }
  }
}
